.strong { font-weight: bold; }
.verbatim, .code { white-space: pre; font-family: courier, fixed; }

.manual_navigator {
    float: right;
    width: 15em;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0.5ex;
    font-size: 90%;
}

.manual_navigator ul {
    margin: 0; padding: 0;
}

.manual_navigator li { padding: 0; margin: 0; }
.manual_navigator li.active { background: #6d84b4; color: white; }
.manual_navigator li.active a { color: white; }

#crumbtrail {
    border-bottom: 1px solid #dcdcdc;
    text-align: center;
}
    #crumbtrail .topic_tree { 
    }

    #crumbtrail .previous_topic {
        float: left;
        text-align: left;
    }

    #crumbtrail .next_topic { 
        float: right;
        text-align: right;
    }


